@model FirstPageText
@{
    ViewData["Title"] = "FirstPage";
    Layout = "_Layout2";
}

@section Styles{
<style>
    h1{
        color:yellow;
    }
</style>
} 
<h1>FirstPage</h1>
<p>@Model.Text</p>
@Html.TextBox("Text", Model.Text)
@section Scripts
{
 <script type="text/javascript">
     alert("hello");
 </script>
}